<!DOCTYPE html>
<html>
  <head>
    <title>レビュー一覧</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>コンクリート入門</h1>
    <h2>岩尾岩太</h2>
      <img src="book.png" alt="コンクリート入門" />
    </a>
   <h4>並べ替え</h4>
   <select name="選択してください。">
        <option>評価順</option>
        <option>日付順</option>
        </select>
        <p><a href="評価順.html">適用</a></p>
        <button onclick="location.href='グラフ.html'">グラフの表示</button>
    <table border="1" width="400">
      <tr>
        <th width="60%">レビュー内容</th>
        <th width="20%">評価</th>
        <th width="20%">日付</th>
      </tr>
      <tr>
        <td>この人の本は好きだな～</td>
        <td>★★★★★</td>
        <td>11/7</td>
      </tr>
      <tr>
        <td>とてもよい本でした。</td>
        <td>★★★★☆</td>
        <td>11/12</td>
      </tr>
      <tr>
        <td>表紙がきれい。</td>
        <td>★★★☆☆</td>
        <td>11/8</td>
      </tr>
      <tr>
        <td>話が単調でつまらない本でした。</td>
        <td>★☆☆☆☆</td>
        <td>11/10</td>
      </tr>
      <tr>
        <td>本が硬すぎました！二度と読みたくない！</td>
        <td>★☆☆☆☆</td>
        <td>11/5</td>
      </tr>
    </table>
  </body>
</html>
